/Chapter 2/simplewebapp/build/
/Chapter 5/primefacesintro/build/
/Chapter 7/SessionBeanIntro/SessionBeanIntro-ejb/build/
/Chapter 7/SessionBeanIntroClientLib/dist/
/Chapter 7/SessionBeanIntro/build/
/Chapter 7/SessionBeanIntroClientLib/build/
/Chapter 7/SessionBeanIntro/dist/
/Chapter 7/SessionBeanIntro/SessionBeanIntro-ejb/dist/
/Chapter 7/SessionBeanIntro/SessionBeanIntro-app-client/build/
/Chapter 7/SessionBeanIntro/SessionBeanIntro-app-client/dist/